/********** ESTILOS PARA LA WEB PERSONALIZADOS*****/


.bg-violet{background-image: url(../imagenes/fondo2.jpg);
            background-size: auto;
            }

.jumbotron{background-image: url(../imagenes/bobobo3.jpg);
            background-size: cover;
            height: 80vh;
            margin-bottom: 0%;}

.display-4{text-align: center;
            }
.card{display: inline-block;
            }

